$background: #182131;
$backgroundDarker: #141a28;
$purple: #373b86;
$teal: #559190;
$tealActive: #69bfba;
$tealActiveDarker: #457e7b;
$grey: #2a3343;
$lightGrey: #727272;

$messageBlue: #2b5278;
$messageInputGrey: #243149;
$musicIcon: #9c67ff;
$messageGrey: #23374c;

$success: #49af41;

$textLight: #fff;
$textDark: #000;
$textGrey: #b2b2b2;

$textSenderTime: #5a9fd3;
$textRecipientTime: #6b7f8f;
// $textPurple: #6a89d9;

$textDanger: #dc3545;
$textDangerActive: #ff5e5c;
$textDangerDarker: #8f222d;