@use 'variables';

.footer {
    background-color: variables.$background;
    height: 80px;
    // left: 0;
    // bottom: 0;
    // position: fixed;
    margin-top: 1em;
    width: 100%;
    display: flex;
    // justify-content: space-between;
    align-items: center;
    border-top: 1px variables.$purple solid;

    .logo {
        position: absolute;
        right: 0;
        padding-left: 4rem;
        padding-right: 4rem;
    
        img {
            width: 200px;
            background: rgba(0, 0, 0, 0);
        }
    }

    .copyright {
        color: variables.$textLight;
        font-size: 1.2rem;
        margin-left: 275px;
    
        p {
            margin-bottom: 0;
        }
    }
}